<header class="site-header">
  <div class="wrapper">
    <div class="header-content">
      <h1 class="site-title">
        <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </h1>
      <p class="site-tagline">{{ site.description | escape }}</p>
    </div>
    <nav class="site-nav">
      <a class="page-link {% if page.url == '/' %}active{% endif %}" href="{{ "/" | relative_url }}">About</a>
      <a class="page-link {% if page.url == '/posts/' %}active{% endif %}" href="{{ "/posts/" | relative_url }}">Posts</a>
      <a class="page-link {% if page.url == '/archive/' %}active{% endif %}" href="{{ "/archive/" | relative_url }}">Archive</a>
      <a class="page-link {% if page.url == '/projects/' %}active{% endif %}" href="{{ "/projects/" | relative_url }}">Projects</a>
    </nav>
  </div>
</header>
